[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
filelock = "*"
responder = "*"

[dev-packages]
isort = "*"
pytest = "*"
pluggy = "*"
ipython = "*"
"flake8" = "*"
"autopep8" = "*"

[requires]
python_version = "3.6.5"

[pipenv]
allow_prereleases = true
