[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
filelock = "*"
flask = "*"

[dev-packages]
isort = "*"
pytest = "*"
"flake8" = "*"
pluggy = "*"
"autopep8" = "*"
ipython = "*"

[requires]
python_version = "3.6.5"
