[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
filelock = "*"
flask = "*"
python-dateutil = "*"
sqlalchemy = "*"
pymysql = "*"

[dev-packages]
isort = "*"
pytest = "*"
"flake8" = "*"
pluggy = "*"
ipython = "*"
yapf = "*"

[requires]
python_version = "3.7.4"

[scripts]
app = "bash -c 'PYTHONPATH=./ python savoten/app.py'"
test = "bash -c 'PYTHONPATH=./ pytest tests'"
lint = "flake8"
format = "bash -c 'yapf -r -i --exclude .git . && isort -rc -y'"
format-diff = "bash -c 'yapf -r -d --exclude .git . && isort -rc --diff'"
