<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Create Event</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="card card-default">
      <div class="card-heading">
        <h1>Create Event</h1>
        <div class="card-body">
          <form name="create_event_form" id="create_event_form">
            <div class="form-group">
              <input type="text" class="form-control col-md-6" name="name" placeholder="name" value="第43回労働組合選挙">
            </div>
            <div class="form-group">
              <label>開始時刻(start)</label>
              <input type="text" class="form-control col-md-6" name="start" placeholder="start" value="2019-08-01 01:02:03">
            </div>
            <div class="form-group">
              <label>終了時刻(end)</label>
              <input type="text" class="form-control col-md-6" name="end" placeholder="end" value="2019-08-02 01:02:03">
            </div>
            <div class="form-group">
              <label>自由記入欄(description[optional])</label>
              <input type="text" class="form-control col-md-6" name="description" placeholder="description(optional)"
              value="サンプルテキスト">
            </div>
            <div class="form-group">
              <label>匿名投票(is_anonymous)</label>
              <div class="form-radio">
                <input type="radio" value="false" name="is_anonymous" checked="">
                <label>投票者名を記録する(false)[default]</label>
                <label>イベント名(name)</label>
              </div>
              <div class="form-radio">
                <input type="radio" value="true" name="is_anonymous">
                <label>投票者名を匿名扱いにする(true)</label>
              </div>
            </div>
            <div class="form-group">
              <button type="button" id="create_event_button" class="btn btn-primary">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/js/create_event.js"></script>
</body>

</html>